.paragraph {
    background-color: #ff90ac;
    font-family: "Veranda", "DejaVu Sans", sans-serif;
}

#second {
    color: #0051ff;
    font-size: 36px;
}

.paragraph.cooler {
    font-size: 24px;
}

#fourth {
    background-color: #9cff94;
    font-size: 24px;
    font-weight: bold;
}
